@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

.container {
    height:450px;
    max-width: 570px;
    margin: 0 auto;
    background: #fff;
    display: grid;
    grid-template-columns: 275px 295px;
    position: relative; 
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.07);
}

.welcome {
    grid-column: 1;
    background-image: url(../img/bg.png);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome h1 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.40);
    margin-bottom: .4rem;
}

.welcome p {
    color: #fff;
    text-align: center;
    font-weight: 100;
    font-size: .8rem;
    margin: 1rem 0;
}

.welcome .sign-up__btn{
    width: 80%;
    background: none;
    border: 1px solid #fff;
    height: 41px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 20px;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.welcome a {
    color: #fff;
    text-decoration: none;
}

.form {
    grid-column: 2;
    margin: 0 auto;
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
}

.help {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: .8rem;
    color: #9a9999;
    cursor: pointer;
}

h2 {
    color: #3bb397;
    text-align: center;
    margin-top: 3rem;
}

.input-field__login,
.input-field__pass {
    position: relative;
    margin-top: 1.5rem;
}

.input-field__login label,
.input-field__pass label {
    position: absolute;
    top: -15px;
    left: 0;
    font-size: .8rem;
    color: #9a9999;
}

.input-field__login input,
.input-field__pass input {
    border: none;
    outline: none;
    margin-left: 1.3rem;
    position: relative;
}

i {
    position: absolute;
    left: 0;
}

.underline {
    height: 1px;
    width: 100%;
    background: #9a9999;
    position: relative;
}

.underline::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    left: 0;
    transition: .5s;
}

.underline.active::after {
    width: 100%;
    background-image: linear-gradient(64deg, #3BB36B, #3BB397);
}


.checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 4px 0;
    
}

.checkbox input[type="checkbox"]{
    height: 10px;
    width: 10px;
    border: 1px;
}

.checkbox label{
    color: #9a9999;
    font-size: .8rem;
    margin-left: 3px;
}

.checkbox a {
    position: absolute;
    right: 2rem;
    font-size: .8rem;
    color: #9a9999;
    text-decoration: none;
}

input[type=submit]{
    width: 100%;
    background-image: linear-gradient(64deg, #3BB36B, #3BB397);
    color: #eaeaea;
    height: 41px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: .4s ease;
}

input[type=submit]:hover {
    background-image: linear-gradient(64deg, #3BB397, #3BB36B);
    
    letter-spacing: .2px;
    transform: scale(1.02);
}

.line {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #9a9999;
}

.line::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background: #9a9999;
    width: 45%;
}

.line::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    height: 1px;
    background: #9a9999;
    width: 45%;
}

.social-media {
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

.social-media .facebook,
.social-media .linkedin, 
.social-media .google {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid #9a9999;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: .4s;
}

.facebook:hover,
.linkedin:hover,
.google:hover {
    border-color: #3BB36B;
}

.sign-up {
    font-size: .8rem;
    color: #9a9999;
    right: 10%;
    margin-top: 20px;
    display: block;
    text-align: center;
}

.sign-up a {
    color: #3bb397;
    text-decoration: none;
    margin-left: 2px;
}

@media (max-width: 530px) {
    .container {
        grid-template-columns: 1fr;
    }

    .welcome {
        display: none;
    }

    .form {
        grid-column: auto;
    }
}