@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #eaeaea;
}

.content {
    border-radius: 3px;
    background: #fff;
    width: 960px;
    height: 480px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}

.content::before {
    content: '';
    position: absolute;
    background-image: url('../img/bg.png');
    background-size: cover;
    height: 100%;
    width: 40%;
    z-index: 0;
    border-radius: 3px 0 0 3px;

    left: 0;
}

.title {
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: capitalize;
}

.title-primary {
    color: #fff;
}

.title-second {
    color: #3BB397;
    margin-bottom: 2rem;
}

.first-content {
    display: flex;  
}

.first-content .second-column {
    z-index: 5;
}

.description {
    font-size: .8rem;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}

.description-primary {
    line-height: 20px;
}

.btn {
    border-radius: 10px;
    border: solid 1px #fff;
    font-size: .6rem;
    padding: .6rem 3rem;
    text-transform: uppercase;
    color: #eaeaea;
    background-image: linear-gradient(64deg, #3BB36B, #3BB397);
    cursor: pointer;
    transition: .4s ease;
}

.btn:hover {
    background-image: linear-gradient(64deg, #3BB397, #3BB36B);
    letter-spacing: .2px;
    transform: scale(1.02);
    font-weight: 700;
}

.btn-primary {
    background: transparent;
    font-size: .6rem;
    padding: .6rem 3rem;
}

.btn-primary:hover {
    background: #fff;
    color: #3BB36B;
    font-weight: 700;
}

.first-column {
    text-align: center;
    width: 40%; 
    z-index: 2;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form .input-field {
    position: relative;
    margin: 13px;
}

.input-field i {
    color: #9a9999;
}

.underline {
    height: 1px;
    width: 100%;
    background: #9a9999;
    position: relative;
}

.underline::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    left: 0;
    transition: .5s;
}

.underline.active::after {
    width: 100%;
    background-image: linear-gradient(64deg, #3BB36B, #3BB397);
}

input[type]{
    outline: none;
    border: none;
}

.form label {
    position: absolute;
    top: -15px;
    left: 0;
    font-size: .8rem;
    color: #9a9999;
}

.form a {
    text-align: center;
    font-size: .8rem;
    margin-bottom: 13px;
    color: #363636;
}

.line {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 13px;
    color: #9a9999;
}

.line::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    left: 25%;
    top: 50%;
    background: #9a9999;
}

.line::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    right: 25%;
    top: 50%;
    background: #9a9999;
}

.list-social-media {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 150px;
    margin: 0 auto;
    margin-top: 13px;
    text-align: center;
}

.item-social-media a {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid #9a9999;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: .4s;
}

.item-social-media a:hover {
    border-color: #3BB36B;
}

/****************
/* SECOND CONTENT
*************** */

.second-content {
    position: absolute;
    display: flex;
}

.second-content .first-column {
    order: 2;
    z-index: -1;
}

.second-content .second-column {
    order: 1;
    z-index: -1;
}


.sign-in-js .first-content .first-column {
    z-index: -1;
}

.sign-in-js .second-content .second-column {
    z-index: 11;
}

.sign-in-js .second-content .first-column {
    z-index: 13;
    animation: opacidade 1.5s;   
}

.sign-in-js .content::before {
    left: 60%;
    border-radius: 0 3px 3px 0;
    animation: slidin 1.5s;
    z-index: 12;
}

.sign-up-js .content::before {
    animation: slidout 1.5s;
    z-index: 12;
    
}


.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
}

.sign-up-js .first-content .second-column {
    z-index: 11;
}

.sign-up-js .first-content .first-column {
    z-index: 13; 
    animation: opacidade 1.5s;   
}

/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:DEBORE */
.sign-in-js .first-content .second-column {
    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.5s;
}

.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.5s;
}

@keyframes opacidade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ANIMAÇÃO CSS PARA O CONTEÚDO */
@keyframes deslocamentoEsq{
    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    to {
        opacity: 0;
        left: -110px;
        z-index: -1;
    }
}

@keyframes deslocamentoDir{
    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    to {
        opacity: 0;
        left: 110px;
        z-index: -1;
    }
}


/**************
/* ANIMATION CSS
************* */

@keyframes slidin {
    from {
        left: 0;
        width: 40%;
    }
    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slidout {
    from {
        left: 60%;
        width: 40%;
    }
    to {
        left: 0;
        width: 40%;
    }
}

@media (max-width: 800px) {
    .content {
        width: 500px;
    }
}

@media (max-width: 530px) {
    .first-content .first-column,
    .second-content .first-column {
        display: none;
    }

    .content {
        width: 350px;
    }

    .content::before {
        background-image: none;
    }

    .second-column {
        flex: 1 0 auto;
    }
}